@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }
    .about-container {
        flex-wrap: wrap;
    }
}



@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    #Open-source, .open-source-details-container {
        margin-top: 1.5rem;
    }

    #profile, .section-container {
        display: block;
        position: static;
      
    }
    section#profile {
        height: 45vh;
    }

    section#contact {
        height: 40vh;
    }

    .arrow {
        display: none;
    }
    section, .section-container {
        height: fit-content;
    }
    section {
        margin: 0 5%;
    }
    .picture-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 1rem;
    }
    .picture-container img{
        width: 100%;
    }
    .about-container {
        margin-top: 0;
    }
}

@media screen and (max-width: 800px) {
    section#profile {
        height: 60vh;
    }
    section#contact {
        height: 40vh;
    }
}



@media screen and (max-width: 600px) {
    #contact, footer {
        height: 40vh;
    }
    section#profile {
        height: 80vh;
        margin-bottom: 0;

    }
    
    article {
        font-size:  1rem;
    }
    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about-container, 
    .contact-info-upper-container,
    .btn-container {
        flex-wrap: wrap;
    }
    .contact-info-container {
        margin: 0;
    }
    .contact-info-container p, 
    .nav-links li a {
        font-size: 1rem;
    }
    .open-source-sub-title {
        font-size: 1.25rem;
    }
    .logo {
        font-size: 1.5rem;
    }
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
 
    .section-text-para2 {
        font-size: 1.25rem;
    }
    .title {
        font-size: 2rem;
    }
    
    .text-container {
        text-align: justify;
    }
}



@media screen and (max-width: 450px) {
    section#profile {
        height: 75vh;
    }

  
}

@media screen and (max-width: 375px) {
    section#profile {
        height: 87vh;
    }

    .picture-container {
        width: 225px;
        height: 225px;
        margin: 0 auto 1rem;
    }
  
}

@media screen and (max-width: 320px) {
    section#profile {
        height: 120vh;
    }

    .picture-container {
        width: 225px;
        height: 225px;
        margin: 0 auto 1rem;
    }
    .logo {
        font-size: 1.2rem;
    }
}